{% extends 'base.html' %}

{% block content %}
<!-- Nav Header Component Start -->
<div class="position-relative  iq-banner ">
    <div class="iq-navbar-header " style="height: 180px;">
        <div class="container-fluid iq-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-wrap d-flex justify-content-between align-items-center">
                        <div>
                            <h1>Hello Qompac!</h1>
                            <p>Experience a simple yet powerful way to build Dashboards with qompac-ui.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="iq-header-img">
            <img src="../../static/assets/images/dashboard/top-header.png" alt="header"
                class="theme-color-default-img img-fluid w-100 h-150 animated-scaleX" loading="lazy">
        </div>
    </div>
</div>




<div class="content-inner container-fluid pb-0" id="page_layout">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">New User Information</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="new-user-info">
                        <form class="row g-3 needs-validation" novalidate action="" method="post"
                            enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md col-lg col-sm">
                                    <div class="form-group">
                                        <label class="form-label"><b>Profile Image </b><b
                                                style="color: red;">*</b></label>
                                        <input accept=".jpg, .jpeg, .png" aria-describedby="inputGroupFileAddon03"
                                            aria-label="Upload" class="form-control" name="image" required type="file">
                                        <div class="invalid-feedback" id="image-error">Invalid file type. Please upload
                                            a
                                            JPEG, JPG, or PNG file.'</div>
                                    </div>
                                </div>
                                <div class="col-md col-lg col-sm">
                                    <div class="form-group">
                                        <label class="form-label"><b>Profile Name</b><b
                                                style="color: red;">*</b></label>
                                        <input class="form-control" placeholder="Enter Profile Name" required
                                            type="text" name="name">

                                        <div class="invalid-feedback">This field is required</div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md col-lg col-sm">
                                    <div class="form-group">
                                        <label class="form-label"><b>Mobile Number</b><b
                                                style="color: red;">*</b></label>
                                        <input class="form-control" placeholder="Enter Mobile no." required type="tel"
                                            name="mobile_num" pattern="[6-9]\d{9}" maxlength="10">

                                        <div class="invalid-feedback">This field is required enter a valid 10-digit
                                            contact
                                            number.</div>
                                        {% if error_message_mobile %}
                                        <div style="color: #c03221;" role="alert">
                                            {{ error_message_mobile }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md col-lg col-sm">
                                    <div class="form-group">
                                        <label class="form-label"><b>Email ID</b><b style="color: red;">*</b></label>
                                        <input class="form-control" placeholder="Enter email Id" required type="email"
                                            maxlength="50" name="email" pattern=".+@gmail\.com">
                                        <div class="invalid-feedback">This field is required</div>
                                        {% if error_message_email %}
                                        <div style="color: #c03221;" role="alert">
                                            {{ error_message_email }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="text-center">
                        <input class="btn" style="background-color: #0a42aa; color: white;" type="submit"></input>&nbsp;
                        <input class="btn" style="background-color:#626875; color:white;" type="reset"></input>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</div>


{% endblock %}