{% extends 'base.html' %}
{% block content %}
<main class="main-content">
    <div class="position-relative  iq-banner ">
        <div class="iq-navbar-header " style="height: 70px;">
        </div>
    </div>
    <div class="content-inner container-fluid pb-0" id="page_layout">
        <div class="container-fluid iq-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-wrap d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="mb-sm-0">Create Countries</h4>
                        </div>
                        <div class="page-title-right">
                            <div class="btn btn-link">
                                <a href="{% url 'dashboard' %}">Dashboard</a> /  
                                <a href="{% url 'settings' %}">Settings</a> / 
                                <a href="{% url 'navigation' %}">Navigation Location</a> / 
                                <a style="color: #808080;">Create Country</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body">
                        <form action="" class="row g-3 needs-validation" enctype="multipart/form-data" method="post"
                              novalidate>
                            {% csrf_token %}
                            <div class="live-preview">
                                    <div class="row">
                                        <div class="col-md col-lg col-sm">
                                            <div class="form-group">
                                                <label class="form-label"><b>Country Name</b>
                                                    <b style="color: red;">*</b></label>
                                                <input class="form-control" id="countryName" maxlength=20
                                                       minlength=2
                                                       name="country_name" pattern="[A-Za-z][A-Za-z\s]*"
                                                       placeholder="Enter Country Name" required
                                                       title="Only letters and spaces are allowed. Minimum 3 characters and maximum 100 characters."
                                                       type="text">
                                                <div class="invalid-feedback">This field is required and should
                                                    contain only letters and spaces.
                                                </div>
                                                {% if error_message_countryname %}
                                                <div role="alert" style="color: #c03221;">
                                                    {{ error_message_countryname }}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md col-lg col-sm">
                                            <div class="form-group">
                                                <label class="form-label"><b>Country Short Code</b>
                                                    <b style="color: red;">*</b></label>
                                                <input class="form-control" id="countryName" maxlength=8
                                                       minlength=2
                                                       name="shortcode" pattern="[A-Za-z][A-Za-z\s]*"
                                                       placeholder="Enter Country Short Code" required
                                                       title="Only letters and spaces are allowed. Minimum 3 characters and maximum 100 characters."
                                                       type="text">
                                                <div class="invalid-feedback">This field is required and should
                                                    contain only letters and spaces.
                                                </div>
                                                {% if error_message_shortocde %}
                                                <div role="alert" style="color: #c03221;">
                                                    {{ error_message_shortocde }}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md col-lg col-sm">
                                            <div class="form-group">
                                                <label class="form-label"><b>Country Image</b>
                                                    <b style="color: red;">*</b> </label>
                                                <input accept=".jpg, .jpeg, .png" class="form-control" id="image"
                                                       name="co_image" required
                                                       type="file">

                                                <div class="invalid-feedback" id="image-error">Invalid file type.
                                                    Please upload a JPEG, JPG, or PNG file.'
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md col-lg col-sm" class="form-label">
                                            <div class="form-group">
                                                <label class="form-label"><b>Country Short Description</b> <b
                                                        style="color: red;">*</b></label>
                                                <textarea class="form-control" id="countryDescription"
                                                          id="countryDescription"
                                                          maxlength="1000"
                                                          name="countrydescription"
                                                          oninput="validateCountryDescription(this)"
                                                          placeholder="Enter Country Description"
                                                          required></textarea>
                                                <div class="invalid-feedback" id="countryDescription-error"></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <input class="btn" style="background-color: #0a42aa; color: white;"
                                           type="submit"></input>&nbsp;
                                    <input class="btn" data-bs-dismiss="modal"
                                           style="background-color:#626875; color:white;"
                                           type="reset"></input>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-block card-stretch card-height">
                <div class="card-header">
                    <h4 class="card-title"><b>Country Details</b></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive border rounded">
                        <table class="table " data-toggle="data-table" id="datatable">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Country Image</th>
                                <th>Country Name</th>
                                <th>Counrty Short Code</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x in display %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><img class="rounded-circle" height="50px;" src="{{x.country_image.url}}"
                                         width="50px;"></td>
                                <td>{{x.country_name}}</td>
                                <td>{{x.country_short_code}}</td>
                                <td>{{x.country_created_at}}</td>
                                <td class="status">
                                    {% if x.country_status %}
                                    <a href="{% url 'deactivate_country' id=x.id %}"><b style="color:blue;">
                                        <span>Active</span></b></a>
                                    {% else %}
                                    <a href="{% url 'activate_country' id=x.id %}"><b style="color:red;">
                                        <span>Inactive</span></b></a>
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn" data-bs-target="#editdata-{{forloop.counter}}"
                                            data-bs-toggle="modal" data-bs-whatever="Mary"
                                            href="" style="background-color: #0a42aa; color: white;"
                                            type="button"><i class="bi-pencil-fill"></i></button>
                                    <button class="btn" data-bs-target="#delete-{{forloop.counter}}"
                                            data-bs-toggle="modal" data-bs-whatever="Mary"
                                            href="" style=" background-color:#d11d26; color:white;"
                                            type="button"><i class="bi bi-trash3-fill"></i></button>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% for x in display %}
<div class="modal fade" id="editdata-{{forloop.counter}}">
    <div class="modal-dialog modal-dialog.centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Country Details</h4>
                <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <!--form creating starts here-->
            <div class="modal-body" style="height: 200px;">
                <form action="/update_countries/{{x.id}}" class="row g-3 needs-validation" enctype="multipart/form-data"
                      method="POST" novalidate>
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md col-lg col-sm">
                                <div class="form-group">
                                    <label><b>Country Name</b><b style="color: red;">*</b></label>
                                    <input class="form-control" maxlength=20 minlength=3
                                           name="edit_name" pattern="[A-Za-z][A-Za-z\s]*"
                                           placeholder="Enter Country Name"
                                           required
                                           title="Only letters and spaces are allowed. Minimum 3 characters and maximum 100 characters."
                                           type="text"
                                           value="{{x.country_name}}">
                                    <div class="invalid-feedback">This field is required and should contain
                                        only letters and spaces.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md col-lg col-sm">
                                <div class="form-group">
                                    <label><b>Country Short Code</b><b style="color: red;">*</b></label>
                                    <input class="form-control" maxlength=8 minlength=2
                                           name="edit_shortcode" pattern="[A-Za-z][A-Za-z\s]*"
                                           placeholder="Enter Country Short Code" required
                                           title="Only letters and spaces are allowed. Minimum 3 characters and maximum 100 characters."
                                           type="text"
                                           value="{{x.country_short_code}}">
                                    <div class="invalid-feedback">This field is required and should contain
                                        only letters and spaces.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md col-lg col-sm">
                                <div class="form-group">
                                    <label><b>Country Image</b><b
                                            style="color: red;">*</b> </label>
                                    <input accept=".jpg, .jpeg, .png" aria-describedby="inputGroupFileAddon03"
                                           aria-label="Upload"
                                           class="form-control"
                                           name="edit_image" required
                                           src="{{x.country_image.url}}" type="file"
                                           value="{{x.country_image}}">
                                    <div class="invalid-feedback">This field is required and Please upload a
                                        valid image file (JPEG, JPG, or PNG).
                                    </div>
                                </div>
                            </div>
                            <div class="col-md col-lg col-sm">
                                <div class="form-group">
                                    <label><b>Country Short Description</b><b
                                            style="color: red;">*</b></label>
                                    <textarea class="form-control" maxlength="1000"
                                              name="edit_description"
                                              placeholder="Enter Country Description" required
                                              value="">{{x.country_description}}</textarea>
                                    <div class="invalid-feedback">This field is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <br>
            <div align="center">
                <button class="btn" style="background-color: #0a42aa; color: white;">Update</button>
                <button class="btn" style="background-color:#626875; color:white;" type="reset">Reset</button>
            </div>
            </form>
            <br>
        </div>

    </div>
</div>
{% endfor %}

{% for x in display %}
<div class="modal fade" id="delete-{{forloop.counter}}">
    <div class="modal-dialog modal-dialog.centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Delete Country details </h4>
                <button aria-label="close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <!--form creating starts here-->

            <div class="modal-body">
                <h6>Are you sure you want to delete the <b> "{{x.country_name}}"</b></h6>
                <br>
                <div align="center">
                    <a class="btn" href="{% url 'delete_countries' x.pk %}"
                       style=" background-color:#d11d26; color:white;">Delete</a>


                    <a class="btn" data-bs-dismiss="modal" href=""
                       style=" background-color:#626875; color:white;">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}

{% endblock %}