{% extends 'new.html' %}

{% block content %}
<!-- blog breadcrumb version one strat here -->
{% for x in about %}
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('{{x.image4.url}}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                        <h2>Package Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}<!-- blog breadcrumb version one end here -->

<section class="section-paddings single-package-area">
    <div class="container">
        <div class="row justify-content-center">
            <!-- single package tab with details -->
            <div class="col-md-8 col-sm-8">
                <div class="single-package-details">
                    <div class="single-package-title">
                        <h2>{{ user_package_details.country_name.country_name }} - {{ user_package_details.title }}</h2>
                    </div>
                    <ul class="package-content">
                        <li>{{ user_package_details.duration }}&nbsp;days</li>
                        <li>
                            <span>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span> (3 Reviews)
                        </li>
                        <li>Code: {{ user_package_details.package_code}}</li>
                        <li>₹{{ user_package_details.cost }}</li>
                    </ul>
                    <div class="package-features-image">
                        <a><img src="{{ user_package_details.image.url }}" alt="{{ user_package_details.image }}"
                                class="img-responsove border-raduis-3" style="height:350px; width:1000px"></a>
                    </div>
                </div>
                <div class="package-tab-menu">
                    <ul class="package-tab-menu" role="tablist" id="tab7">
                        <li role="presentation" class="active"><a href="#description" aria-controls="description"
                                role="tab" data-toggle="tab">Description</a>
                        </li>
                        <li role="presentation"><a href="#itinerary" aria-controls="itinerary" role="tab"
                                data-toggle="tab">Tour Itinerary</a>
                        </li>
                        <li role="presentation"><a href="#tourplaces" aria-controls="tourplaces" role="tab"
                                data-toggle="tab">Tour Places</a>
                        <li role="presentation"><a href="#video" aria-controls="video" role="tab"
                                data-toggle="tab">Guide</a>
                        </li>
                        <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab"
                                data-toggle="tab">Reviews (3)</a>
                        </li>
                    </ul>
                </div><!-- tab menu end -->

                <!-- tab content start -->
                <div class="row">
                    <!-- tabs content -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <div class="row">
                                <!-- left content -->
                                <div class="col-md-6">
                                    <div class="tour-description">
                                        <h4>Tour Description</h4>
                                        <p>{{ user_package_details.description|truncatechars:100 }}</p>
                                    </div>
                                </div><!-- left-content -->


                                <div class="col-md-6">
                                    <div class="additional-info">
                                        <div class="info-title">
                                            <h4>Additional Info</h4>
                                            <div class="row">
                                                <div class="col-md- col-sm-5">
                                                    <div class="info-list">
                                                        <p><span><i class="fa fa-map-marker"></i></span> Location</p>
                                                        <p><span><i class="fa fa-clock-o"></i></span>Duration</p>
                                                        <p><span><i class="fa fa-clock-o"></i></span>Hotel</p>
                                                        <p><span><i class="fa fa-users"></i></span>Vehicle</p>
                                                        <p><span><i class="fa fa-users"></i></span>Max People</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="info-details">
                                                        <p>{{ user_package_details.country_name.country_name }}</p>
                                                        <p>{{ user_package_details.duration }}&nbsp;days</p>
                                                        <p><a href="{% url 'hoteldetails' id=user_package_details.id %}" >{{ user_package_details.hotel_name }}</a></p>
                                                        <p>{{ user_package_details.type_of_vehicle }}</p>
                                                        <p>{{ user_package_details.number_of_persons }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- right content -->
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="itinerary">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <div class="tour-description">
                                        <h4>Tour Itinerary</h4>
                                        <div class="main-timeline">
                                            {% for x in tour_detials %}
                                                <!-- single timeline -->
                                                <div class="timeline">
                                                    <div class="timeline-content left">
                                                        <span class="timeline-icon">{{ forloop.counter }}</span>
                                                        <h4>{{ x.tourname.tour_name }}</h4>
                                                        <p style="margin: 0; padding: 0;"><u>See Details and Photo</u></p>
                                                        <img src="{{x.tourname.tour_image.url}}" alt="" style="height: 200px; width: 450px; margin: 0; padding: 0; border-radius: 10px;">
                                                        <p style="margin: 0; padding: 0;">{{x.tourname.tour_description}}</p>
                                                        <br>
                                                        <a href="{% url 'tourdetails' id=x.id %}" style="margin: 0; padding: 10px; width: 400px; background-color: #37b721; color: white; text-align: center; border-radius: 10px;" class="booking-confirm hvr-shutter-out-horizontal">More About {{x.tourname.tour_name}}</a>
                                                    </div>
                                                </div><!-- single timeline -->
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tour tab content start -->
                        <div role="tabpanel" class="tab-pane fade" id="tourplaces">
                            <div class="row">
                                {% for x in tour_detials %}
                                    <div class="col-md-3"> <!-- Adjust the column size based on your design -->
                                        <div class="tour-description">
                                            <a href="{% url 'tourdetails' id=x.id %}"class="">
                                                <img src="{{ x.tourimage1.url }}" alt="image" class="rounded-circle" style="width: 150px; height: 150px; border-radius: 100px;">
                                                <br><br>
                                                <h5  style="color: #37b721; justify-content: center;">{{x.tourname}}</h5>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!-- tour tab content end -->

                        <!-- video tab content start -->
                        <div role="tabpanel" class="tab-pane fade" id="video">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- Guide Details -->
                                    <div class="card">
                                        <!-- <div class="card-body">
                                            <h5 class="card-title" style="font-size: large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">{{ guide_details.guide_name }}</h5>
                                        </div> -->
                                        <img src="{{ user_package_details.guide_name.guide_aadhar.url }}"
                                            alt="Guide Image" class="card-img-top" style="height: 280px; width: 100%;">
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title"
                                                style="font-size: large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">
                                                Guide Details:</h5>
                                            <br>
                                            <!-- Additional Sections -->
                                            <p class="card-text">
                                                <span class="card-subtitle mb-2 text-muted">Guide Name:</span> {{ user_package_details.guide_name.guide_name }} <br> <br>
                                                <span class="card-subtitle mb-2 text-muted">Age:</span> {{ user_package_details.guide_name.guide_age}} <br> <br>
                                                <span class="card-subtitle mb-2 text-muted">Contact Number:</span> {{ user_package_details.guide_name.guide_contact_number }} <br> <br>
                                                <span class="card-subtitle mb-2 text-muted">Experience:</span> {{ user_package_details.guide_name.guide_experience }} <br> <br>
                                                <span class="card-subtitle mb-2 text-muted">Languages Known:</span> {{ user_package_details.guide_name.guide_languages_known }}
                                            </p>

                                            <!-- Add more fields as needed -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- video tab content start -->
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="tour-description">
                                        <h4>Reviews</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nulla,
                                            omnis impedit possimus, quos inventore quo. Rem asperiores culpa,
                                            accusantium, reiciendis sint nihil excepturi minima officiis voluptatum
                                            omnis qui. Quisquam blanditiis quaerat commodi autem, ducimus, perspiciatis
                                            unde est nisi dolore consequatur expedita sint placeat inventore, alias,
                                            perferendis nobis adipisci tempore excepturi cupiditate harum odit ipsa
                                            deserunt. Quaerat praesentium odio voluptatem commodi vitae dolore, a amet
                                            suscipit eligendi ut repellendus ducimus tempora, est, tempore dignissimos
                                            expedita cupiditate quisquam minima dolores possimus. In porro vitae
                                            provident esse voluptas cum inventore magnam praesentium quaerat veritatis,
                                            explicabo non doloremque rerum, nulla maxime architecto, libero.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nulla,
                                            omnis impedit possimus, quos inventore quo. Rem asperiores culpa,
                                            accusantium, reiciendis sint nihil excepturi minima officiis voluptatum
                                            omnis qui. Quisquam blanditiis quaerat commodi autem, ducimus, perspiciatis
                                            unde est nisi dolore consequatur expedita sint placeat inventore, alias,
                                            perferendis nobis adipisci tempore excepturi cupiditate harum odit ipsa
                                            deserunt. Quaerat praesentium odio voluptatem commodi vitae dolore, a amet
                                            suscipit eligendi ut repellendus ducimus tempora, est, tempore dignissimos
                                            expedita cupiditate quisquam minima dolores possimus. In porro vitae
                                            provident esse voluptas cum inventore magnam praesentium quaerat veritatis,
                                            explicabo non doloremque rerum, nulla maxime architecto, libero.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur totam
                                            accusamus, libero, eaque cupiditate veritatis placeat dignissimos
                                            voluptatum, alias similique ad laudantium perferendis dolore ipsa vero iure
                                            praesentium asperiores quia rem maxime rerum, labore sed. Dolorem, nisi,
                                            inventore! Explicabo vel cupiditate quidem at, deleniti nostrum. Possimus
                                            cumque, minima maxime at.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- video tab content end -->
                    </div><!-- tabs content-->
                </div><!-- tab content end -->
            </div><!-- single package tab with details -->

            <!-- booking form start here -->

            <div class="col-md-4 col-sm-12">
                <aside>
                    <div class="booking-form">
                        <div class="booking-title">
                            <h2>Book This Tour</h2>
                        </div>

                        <form class="form" method="post"
                            action="{% url 'booking' package_id=user_package_details.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" required name="name" id="name"
                                   value="{{user.fullname}}" placeholder="Name" minlength=3 maxlength=30 pattern="[A-Za-z][A-Za-z\s]*" disabled>
                            </div>
                            <div class="form-group">
                                <label for="confirm_email">E-mail *</label>
                                <input type="email" class="form-control" required name="confirm_email"
                                  value="{{user.email}}"  id="confirm_email" placeholder="Confirm E-mail" pattern=".+@gmail\.com"
                                    maxlength="50" disabled>
                            </div>
                            <div class="form-group">
                                <label for="number">Phone Number *</label>
                                <input type="tel" class="form-control" required name="number" id="number"
                                   value="{{user.mobile}}" placeholder="Phone Number" pattern="[6-9]\d{9}" maxlength="10" disabled>
                            </div>
                            <div class="form-group">
                                <label for="booking-date">Booking Date *</label>
                                <input type="date" class="form-control" required name="booking-date" >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">Book
                                    Now</button>
                            </div>

                        </form>

                    </div>
                </aside><!-- adverestment start here-->

                <div class="adding-form">
                    <div class="addfor-bg">
                        <div class="add-content">
                            <h3>Any Question?</h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor
                                incididunt ut.</p>
                            <ul class="contact-for-add">
                                {% for contact in user_contactus %}



                                <li><img src="../../static/images/icon/phone.png" alt="">{{contact.mobile_num}}</li>
                                <li><img src="../../static/images/icon/gmail.png" alt="">{{ contact.email }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
</section>

{% endblock %}